.custom-bg{
       background:lightgreen!important;
}
.text-font-teko-500-14px {
  font-size: 10px !important;
  font-weight: 500 !important;
  font-family: "Teko", sans-serif !important;
}
.text-font-sans-serif-500-20px {
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: sans-serif !important;
}
.footer-container {
    background-color: lightgreen!important;

}
.copyright_container {
    background-color: rgba(0, 0, 0, 0.1);
}
.branch-p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
}

.footer-content-body{
    // padding-left: 20px;
    // padding-right: 20px;
    padding-top: 15px;
}
.admin .card{
    border: solid 2px lightgreen;
}
.admin .card :hover{
    background: #e2e2e2;
    cursor: pointer;
}
.list-group-item.active{
       background:lightgreen!important;
       border-color:lightgreen!important;
}
.discount-label {
    font-size: 12px!important;
    font-style: italic!important;
    text-decoration:line-through!important;
}
.product-card :hover{
    background: whitesmoke;
    border: 1px solid lightgreen;
    cursor: pointer;
}
/*toast*/

#toast {
    min-width: 300px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -120px;
    background: #333;
    padding: 15px;
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 18px;
    visibility: hidden;
    box-shadow: 0px 0px 100px #000;
}

#toast.display {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
